<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Vyapar Drishti Purchase Invoice</title>
    <style>
        * {
            box-sizing: border-box !important;
        }

        body {
            margin: 0 !important;
            padding: 0 !important;
            font-family: Arial, sans-serif !important;
        }

        .page {
            width: 200mm !important;
            height: 290mm !important;
            padding: 0mm 0mm !important;
            position: relative !important;
            border: 2px solid #000 !important;
            border-left: 1.5px solid #000 !important;
            border-top: 1.5px solid #000 !important;
            overflow: hidden !important;
            page-break-after: always !important;
        }

        .header,
        .footer {
            position: absolute !important;
            width: 100% !important;
            text-align: center !important;
            left: 0 !important;
            right: 0 !important;
        }

        .header {
            top: 0 !important;
        }

        .footer {
            bottom: 0 !important;
        }

        .content {
            margin-top: 90mm !important;
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 25mm !important;
        }

        .item-row {
            margin-bottom: 6px !important;
            page-break-inside: avoid !important;
        }

        .total-section {
            page-break-inside: avoid !important;
            break-inside: avoid !important;
            margin-top: 10px !important;
            text-align: right !important;
        }
    </style>
</head>

<body>
    {% set items_per_page = 17 %}
    {% for page_items in invoice["items"]|batch(items_per_page, '') %}
    <div class="page">
        <div class="header">
            <!-- Company and Party Details, Invoice Header -->
            <div style="text-align: center !important; position: relative !important;  border-bottom: 1px solid #000 !important; padding: 0px 10px !important;"
                colspan="2">
                <div
                    style="display: flex !important; justify-content: space-between !important; align-items: flex-start !important;">
                    <p><strong>GSTIN :</strong> {{
                        party.gst_no }}</p>
                    <p><em>Original Copy</em></p>
                </div>
                <div
                    style="font-size: 16px !important; height: min-content !important; width:min-content !important; white-space: nowrap !important; position: absolute !important; top: 15px !important; left: 50% !important; font-weight: bold !important; text-decoration: underline !important; transform: translate(-50%, 0) !important;">
                    TAX INVOICE
                </div>
                <div
                    style="font-size: 24px !important; font-weight: bold !important; transform: translateY(-5px) !important;">
                    {{ party.name }}
                </div>
                <div
                    style="margin-bottom: 3px !important; font-size: 14px !important; transform: translateY(-5px) !important;">

                    {{ party.mailing_address }}</div>
                <div
                    style="margin-bottom: 3px !important; font-size: 14px !important; transform: translateY(-10px) !important;">
                    {% if party.mailing_state %}
                    {{
                    party.mailing_state
                    }}
                    {% if party.mailing_country %}
                    ,&nbsp;{{
                    party.mailing_country
                    }}
                    {% if party.mailing_pincode %}
                    &nbsp;-&nbsp;{{
                    party.mailing_pincode
                    }}
                    {% endif %}
                    {% else %}
                    {% if party.mailing_pincode %}
                    &nbsp;-&nbsp;{{
                    party.mailing_pincode
                    }}
                    {% endif %}
                    {% endif %}
                    {% else %}
                    {% if party.mailing_country %}
                    {{
                    party.mailing_country
                    }}
                    {% if party.mailing_pincode %}
                    &nbsp;-&nbsp;{{
                    party.mailing_pincode
                    }}
                    {% endif %}
                    {% else %}
                    {% if party.mailing_pincode %}
                    {{
                    party.mailing_pincode
                    }}
                    {% endif %}
                    {% endif %}

                    {% endif %}</div>
                <div style=" transform: translateY(-10px) !important;">
                    {% if party.phone.number %}
                    <strong>Phone
                        :</strong> {{
                    party.phone.code
                    }}&nbsp;{{
                    party.phone.number }},
                    {% else %}
                    &nbsp;
                    {% endif %}
                    {% if party.email %}
                    <strong>Email
                        :</strong> {{ party.email }}
                    {% else %}
                    &nbsp;
                    {% endif %}
                </div>
            </div>

            <div style="padding: 0 12px  !important; border-bottom: 1px solid #000 !important; ">
                <div style="width: 100% !important; display: flex !important;">
                    <!-- Party Details -->
                    <div
                        style="width: 50% !important; text-align: left !important; vertical-align: top !important; padding: 12px 0 !important;">
                        <div
                            style="font-size: 18px !important; font-weight: bold !important; margin-bottom: 3px !important;">
                            {{
                            company.company_name
                            }}
                        </div>
                        <div style="margin-bottom: 3px !important; font-size: 14px !important;">
                            {{ company.address_1
                            }},
                            {{ company.address_2 }}</div>
                        <div style="margin-bottom: 3px !important; font-size: 14px !important;"> {{ company.state }},
                            {{
                            company.country }}
                            -
                            {{ company.pinCode }} </div>
                        <div style="margin-bottom: 3px !important; font-size: 14px !important;"><strong>Phone :</strong>
                            {{ company.phone.code }}
                            {{
                            company.phone.number }}
                        </div>
                        <div style="margin-bottom: 3px !important; font-size: 14px !important;">
                            <strong>Email
                                :</strong>{{ company.email }}
                        </div>
                        <div style="margin:10px 0px !important; font-size: 16px !important;"><strong>GSTIN :</strong> {{
                            company.gstin }}
                        </div>
                    </div>

                    <!-- Invoice Details -->
                    <div
                        style="width: 50% !important; vertical-align: top !important; text-align: left !important; padding: 12px !important; border-left: 1px solid #000 !important;">
                        <div
                            style="display: grid !important; grid-template-columns: 2fr 1fr 2fr !important;  font-size: 14px !important;">
                            <div><strong>Invoice No</strong></div>
                            <div>:</div>
                            <div>{{ invoice.voucher_number }}</div>
                            <div><strong>Invoice Date</strong></div>
                            <div>:</div>
                            <div>{{ invoice.date }}</div>
                            <div><strong>Place of Supply</strong></div>
                            <div>:</div>
                            <div>{{ invoice.place_of_supply }}</div>
                            <div>
                                <strong>Mode of Transport</strong>
                            </div>
                            <div>:</div>
                            <div>{{ invoice.mode_of_transport }}</div>
                            <div><strong>Vehicle No</strong></div>
                            <div>:</div>
                            <div>{{ invoice.vehicle_number }}</div>
                            <div><strong>Reverse Charge</strong></div>
                            <div>:</div>
                            <div>{{ invoice.is_reversed_charge }}</div>
                            <div><strong>Payment Status</strong></div>
                            <div>:</div>
                            <div>{{ invoice.payment_status }}</div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Invoice Header -->
            <div
                style="text-align: center !important; padding: 8px !important; background-color: #f2f2f2 !important; border-bottom: 1px solid #000 !important;  font-size: 16px !important; font-weight: bold !important;">
                Purchase&nbsp;Invoice
            </div>
        </div>

        <div class="content" style="">
            <table style="width: 100% !important; margin-top:10px !important; border-collapse: collapse !important;"
                cellpadding="4" cellspacing="0">
                <tr style="background-color: #f2f2f2 !important;">
                    <th
                        style="border: 1px solid #000 !important; border-left: 0px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        SN</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important; width: 16% !important;">
                        Description of Goods</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        HSN</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        Qty.</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        Units</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        RATE</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        Price</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        GST&nbsp;(&#37;)</th>
                    <th
                        style="border: 1px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        GST&nbsp;(&#8377;)</th>
                    <th
                        style="border: 1px solid #000 !important; border-right: 0.5px solid #000 !important; font-size: 10px !important; font-weight: bold !important; text-align: center !important; padding: 4px !important;">
                        AMOUNT</th>
                </tr>
                {% if invoice.page_number %}
                {% set page_no = loop.index - 1 + (invoice.page_number - 1) %}
                {% else %}
                {% set page_no = loop.index - 1 %}
                {% endif %}
                {% for item in page_items %}
                {% if item %}
                <tr {% if loop.index0 % 2==1 %}style="background-color: #f9f9f9 !important;" {% endif %}>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{(page_no*items_per_page) + loop.index }}</td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: left !important; text-wrap-mode: nowrap !important; padding: 4px !important;">
                        {{ item.name }}
                    </td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{ item.hsn
                        }}
                    </td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{ item.qty
                        }}
                    </td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{ item.pack
                        }}
                    </td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{ item.rate
                        }}
                    </td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{item.taxable_value}}</td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{
                        item.gst_rate
                        }}&nbsp;&#37;
                    </td>
                    <td
                        style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                        {{
                        (item.total_amount - item.taxable_value)|round(2) }}</td>
                    <td
                        style="border: 1px solid #000 !important; font-size:  10px !important; border-right:none !important; text-align: center !important; padding: 4px !important; font-weight: bold !important;">
                        {{ item.total_amount }}</td>
                </tr>

                {% endif %}
                {% endfor %}

                {% if invoice.page_number and invoice.total_pages %}
                {% if invoice.page_number == invoice.total_pages %}
                {% if loop.last %}
                <tr>
                    <td colspan="10">
                        <div class="total-section">
                            <div class="no-break">
                                <div
                                    style="display: flex  !important; text-align: left !important; margin: 0 10px !important;">
                                    <div
                                        style="flex: auto !important; vertical-align: top !important; padding-right: 10px !important;">
                                        <table
                                            style="width: 100% !important; border-collapse: collapse !important; border: 1px solid #000 !important;"
                                            cellpadding="4" cellspacing="0">
                                            <tr style="background-color: #f2f2f2 !important;">
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    GST(&#37;)</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    Taxable Amt.</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    IGST</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    CGST</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    SGST</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    GST Amt.</th>
                                            </tr>
                                            {% for tax in invoice.taxes %}
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.percent }}&#37;</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.taxable_value }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.igst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.cgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.sgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.gst_amt }}</td>
                                            </tr>
                                            {% endfor %}

                                            <tr style="background-color: #f2f2f2 !important;">
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    TOTAL</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.taxable_value }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.igst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.cgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.sgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.gst_amt }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div
                                        style="width: 30% !important; vertical-align: top !important;  padding-left: 10px !important;">
                                        <table
                                            style="width: 100% !important; border-collapse: collapse !important; border: 1px solid #000 !important;"
                                            cellpadding="4" cellspacing="0">
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    SUB TOTAL</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.total }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    DISCOUNT</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.discount }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    TOTAL</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.total }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    Total Tax</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.total_tax }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    Additional Charges</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.additional_charges}}</td>
                                            </tr>
                                        </table>
                                        <table
                                            style="width: 100% !important; border-collapse: collapse !important; border: 1px solid #000 !important; background-color: #f2f2f2 !important; margin-top: 8px !important;"
                                            cellpadding="4" cellspacing="0">
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 14px !important; padding: 8px !important; text-align: center !important; font-weight: bold;">
                                                    GRAND TOTAL: &#8377; {{ invoice.grand_total }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                {% else %}
                <tr>
                    <td colspan="10"
                        style="text-align: center  !important; font-size: 12px !important; padding: 10px !important;">
                        Continue.
                    </td>
                </tr>
                {% endif %}
                {% else %}
                <tr>
                    <td colspan="10"
                        style="text-align: center !important; font-size: 12px !important; padding: 10px !important;">
                        Continue...
                    </td>
                </tr>
                {% endif %}
                {% else %}
                {% if loop.last %}
                <tr>
                    <td colspan="10">
                        <div class="total-section">
                            <div class="no-break">
                                <div
                                    style="display: flex  !important; text-align: left !important; margin: 0 10px !important;">
                                    <div
                                        style="flex: auto !important; vertical-align: top !important; padding-right: 10px !important;">
                                        <table
                                            style="width: 100% !important; border-collapse: collapse !important; border: 1px solid #000 !important;"
                                            cellpadding="4" cellspacing="0">
                                            <tr style="background-color: #f2f2f2 !important;">
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    GST(&#37;)</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    Taxable Amt.</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    IGST</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    CGST</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    SGST</th>
                                                <th
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    GST Amt.</th>
                                            </tr>
                                            {% for tax in invoice.taxes %}
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.percent }}&#37;</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.taxable_value }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.igst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.cgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.sgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important;">
                                                    {{ tax.gst_amt }}</td>
                                            </tr>
                                            {% endfor %}

                                            <tr style="background-color: #f2f2f2 !important;">
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    TOTAL</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.taxable_value }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.igst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.cgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.sgst }}</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; text-align: center !important; padding: 4px !important; font-weight: bold;">
                                                    {{ invoice.totals.gst_amt }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div
                                        style="width: 30% !important; vertical-align: top !important;  padding-left: 10px !important;">
                                        <table
                                            style="width: 100% !important; border-collapse: collapse !important; border: 1px solid #000 !important;"
                                            cellpadding="4" cellspacing="0">
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    SUB TOTAL</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.total }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    DISCOUNT</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.discount }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    TOTAL</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.total }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    Total Tax</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.total_tax }}</td>
                                            </tr>
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; font-weight: bold;">
                                                    Additional Charges</td>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 10px !important; padding: 4px !important; text-align: right !important;">
                                                    {{ invoice.additional_charges}}</td>
                                            </tr>
                                        </table>
                                        <table
                                            style="width: 100% !important; border-collapse: collapse !important; border: 1px solid #000 !important; background-color: #f2f2f2 !important; margin-top: 8px !important;"
                                            cellpadding="4" cellspacing="0">
                                            <tr>
                                                <td
                                                    style="border: 1px solid #000 !important; font-size: 14px !important; padding: 8px !important; text-align: center !important; font-weight: bold;">
                                                    GRAND TOTAL: &#8377; {{ invoice.grand_total }}</td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% else %}
                <tr>
                    <td colspan="10"
                        style="text-align: center !important; font-size: 12px !important; padding: 10px !important;">
                        Continue...
                    </td>
                </tr>
                {% endif %}
                {% endif %}

            </table>
        </div>

        <div class="footer">
            <div
                style="display: flex !important; width: 100% !important; border-top: 1px solid #000 !important;  align-items: center !important;">
                <div
                    style="width: 100% !important; font-size: 11px !important; line-height: 1.4 !important; padding: 0 10px !important; text-align: left !important; padding-top: 10px !important;">
                    <div style="font-weight: bold !important; margin-bottom: 5px !important;">Terms & Conditions :</div>
                    <div style="margin-bottom: 8px !important;">
                        <span>1. This is to certify that we have a valid GST Registration and the above
                            information is true.</span><br>
                        <span>2. Interest @ 18% per annum will be charged on payments due after 15 days from
                            the date of billing.</span><br>
                        <span>3. Please accept goods in proper condition only.<br></span>
                        <span>4. All Disputes & claims will be referred to the court at Udaipur
                            jurisdiction.<br></span>
                        <span>5. Do not make payment without the printed receipt. Please keep the receipt
                            safe.</span>
                    </div>
                    <div style="font-weight: bold !important; margin-bottom: 5px !important;">Additional Terms and
                        Conditions :</div>
                    <div
                        style="width: 100% !important; border-bottom: 1px solid #000 !important; height: 10px !important; margin-bottom: 5px !important;">
                    </div>
                    <div
                        style="width: 100% !important; border-bottom: 1px solid #000 !important; height: 10px !important; margin-bottom: 5px !important;">
                    </div>
                </div>

            </div>

            <div
                style="display: flex !important; border-top: 1px solid #000 !important; justify-content: space-between !important; padding-top: 10px !important; align-items: center !important;">
                <div style="width: 40% !important; text-align: center !important; vertical-align: top !important;">
                    <div
                        style="border-top: 1px solid #000 !important; width: 200px !important; margin: 15px auto 5px auto !important;">
                    </div>
                    <div style="font-weight: bold !important; font-size: 12px !important;">{{ company.company_name }}
                    </div>
                </div>
                <div style="width: 20% !important;">&nbsp;</div>
                <div style="width: 40% !important; text-align: center !important; vertical-align: top !important;">
                    <div
                        style="border-top: 1px solid #000 !important; width: 200px !important; margin: 15px auto 5px auto !important;">
                    </div>
                    <div style="font-weight: bold !important; font-size: 12px !important;">{{ party.name }}
                    </div>
                </div>
            </div>
            <div
                style="text-align: center !important; padding: 0 0 0 0 !important; font-size: 14px !important; font-weight: bold !important; color: #C04000 !important; text-decoration: underline !important;">
                {{ company.motto|default("LIFE'S A JOURNEY, KEEP SMILING") }}
            </div>
            <div
                style="text-align: center !important; padding: 0 0 10px 0 !important; font-size: 12px !important; font-weight: bold !important; text-decoration: underline !important;">
                This {{invoice.voucher_type}}&nbsp;Invoice generated by Vyapar Drishti GST Billing App.
            </div>
        </div>
    </div>
    {% endfor %}

</body>

</html>