<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=794, initial-scale=1.0, user-scalable=yes">
    <title>Pharmacy Invoice Template</title>
</head>

<body
    style="font-family: Arial, sans-serif; margin: 0; padding: 20px;  font-size: 11px; line-height: 1.3; color: #000;">

    <!-- Main Invoice Table Container -->
    <table
        style="width: 754px; min-width: 754px; max-width: 754px; min-height: 1072px; margin: 0 auto; border: 2px solid #000; border-collapse: collapse;"
        cellpadding="0" cellspacing="0">

        <!-- Header Section -->
        <tr>
            <td style="padding: 12px; border-bottom: 1px solid #000;">
                <table style="width: 100%; border-collapse: collapse;" cellpadding="0" cellspacing="0">
                    <tr>
                        <!-- Company Details -->
                        {% if invoice.voucher_type == 'Purchase' %}
                        <td style="width: 50%; vertical-align: top; padding-right: 15px;">
                            <div style="font-size: 18px; font-weight: bold; margin-bottom: 8px;">{{ party.name }}
                            </div>
                            <div style="margin-bottom: 3px;">{{ party.address }}</div>
                            {% if party.phone.code and party.phone.number %}
                            <div style="margin-bottom: 3px;"><strong>Phone:</strong> {{ party.phone.code }}&nbsp;{{
                                party.phone.number }}</div>
                            {% endif %}
                            {% if party.email %}
                            <div style="margin-bottom: 3px;"><strong>Email:</strong> {{ party.email }}</div>
                            {% endif %}
                            {% if party.tin %}
                            <div style="margin-bottom: 3px;"><strong>GST No.:</strong> {{ party.tin }}</div>
                            {% endif %}
                            
                        </td>

                        <!-- Invoice Details -->
                        <td style="width: 25%; vertical-align: top; text-align: left;">
                            <!-- <div style="margin-bottom: 3px;"><strong>Invoice No.:</strong> {{ invoice.voucher_number }} -->
                            </div>
                            <div style="margin-bottom: 8px;"><strong>Date:</strong> {{ invoice.date }}</div>
                            <div style="font-weight: bold; margin-bottom: 3px;">{{ company.company_name }}</div>
                            {% if company.address_1 %}
                            <div style="margin-bottom: 3px;">{{ company.address_1 }}</div>
                            {% endif %}
                            {% if company.address_2 %}
                            <div style="margin-bottom: 3px;">{{ company.address_2 }},&nbsp;{{ company.state }}</div>
                            {% endif %}
                            {% if company.phone.code and company.phone.number %}
                            <div style="margin-bottom: 3px;"><strong>Phone:</strong> {{ company.phone.code }}&nbsp;{{
                                company.phone.number }}</div>
                            {% endif %}
                            {% if company.tin %}
                            <div style="margin-bottom: 3px;"><strong>GST No.:</strong> {{ company.tin }}</div>
                            {% endif %}
                        </td>
                        {% endif %}

                        {% if invoice.voucher_type == 'Sales' %}
                        <td style="width: 50%; vertical-align: top; padding-right: 15px;">
                            <div style="font-size: 18px; font-weight: bold; margin-bottom: 8px;">{{ company.company_name
                                }}</div>
                            {% if company.address_1 %}
                            <div style="margin-bottom: 3px;">{{ company.address_1 }}</div>
                            {% endif %}
                            {% if company.address_2 %}
                            <div style="margin-bottom: 3px;">{{ company.address_2 }},&nbsp;{{ company.state }}</div>
                            {% endif %}
                            {% if company.phone.code and company.phone.number %}
                            <div style="margin-bottom: 3px;"><strong>Phone:</strong> {{ company.phone.code }}&nbsp;{{
                                company.phone.number }}</div>
                            {% endif %}
                            {% if company.email %}
                            <div style="margin-bottom: 3px;"><strong>Email:</strong> {{ company.email }}</div>
                            {% endif %}
                            {% if company.tin %}
                            <div style="margin-bottom: 3px;"><strong>GST No.:</strong> {{ company.tin }}</div>
                            {% endif %}

                        </td>

                        <!-- Invoice Details -->
                        <td style="width: 25%; vertical-align: top; text-align: left;">
                            </div>
                            <div style="margin-bottom: 8px;"><strong>Date:</strong> {{ invoice.date }}</div>
                            <div style="font-weight: bold; margin-bottom: 3px;">{{ party.name }}
                            </div>
                            {% if party.address %}
                            <div style="margin-bottom: 3px;">{{ party.address }}</div>
                            {% endif %}
                            {% if party.state %}
                            <div style="margin-bottom: 3px;">{{ party.state }}
                                {% if party.country %}
                                , {{ party.country }}
                                {% endif %}
                            </div>
                            {% else %}
                            <div style="margin-bottom: 3px;">{{ party.country }}</div>
                            {% endif %}
                            {% if party.phone.code and party.phone.number %}
                            <div style="margin-bottom: 3px;"><strong>Phone:</strong> {{ party.phone.code }}&nbsp;{{
                                party.phone.number }}</div>
                            {% endif %}
                            {% if party.email %}
                            <div style="margin-bottom: 3px;"><strong>Email:</strong> {{ party.email }}</div>
                            {% endif %}
                            {% if party.tin %}
                            <div style="margin-bottom: 3px;"><strong>GST No.:</strong> {{ party.tin }}</div>
                            {% endif %}
                           
                        </td>
                        {% endif %}

                    </tr>
                </table>
            </td>
        </tr>

        <!-- Invoice Header -->
        <tr>
            <td
                style="text-align: center; padding: 8px; background-color: #f2f2f2; border-bottom: 1px solid #000; font-size: 16px; font-weight: bold;">
                {{invoice.voucher_type|default('Sales') }}&nbsp;Invoice<span>&nbsp;{{
                    invoice.voucher_number }}</span>
            </td>
        </tr>

        <!-- Product Details Table -->
        <tr>
            <td style="padding: 12px; border-bottom: 1px solid #000;">
                <table style="width: 100%; border-collapse: collapse; border: 1px solid #000;" cellpadding="4"
                    cellspacing="0">
                    <tr style="background-color: #f2f2f2;">
                        <th
                            style="border: 1px solid #000; font-size: 10px; font-weight: bold; text-align: center; padding: 4px;">
                            SN</th>
                        <th
                            style="border: 1px solid #000; font-size: 10px; font-weight: bold; text-align: center; padding: 4px; width: 16%;">
                            NAME OF PRODUCTS</th>
                        <th
                            style="border: 1px solid #000; font-size: 10px; font-weight: bold; text-align: center; padding: 4px;">
                            Pack</th>
                        <th
                            style="border: 1px solid #000; font-size: 10px; font-weight: bold; text-align: center; padding: 4px;">
                            HSN</th>
                        <th
                            style="border: 1px solid #000; font-size: 10px; font-weight: bold; text-align: center; padding: 4px;">
                            Qty.</th>
                        <th style="border: 1px solid #000; font-size: 10px; font-weight: bold; text-align: center; padding:
                        4px;">
                            RATE</th>
                        <th
                            style="border: 1px solid #000; font-size: 10px; font-weight: bold; text-align: center; padding: 4px;">
                            AMOUNT</th>
                    </tr>
                    {% for item in invoice["items"] %}
                    <tr {% if loop.index0 % 2==1 %}style="background-color: #f9f9f9;" {% endif %}>
                        <td style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px;">{{
                            loop.index }}</td>
                        <td style="border: 1px solid #000; font-size: 10px; text-align: left; padding: 4px;">{{
                            item.name }}</td>
                        <td style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px;">{{
                            item.pack }}</td>
                        <td style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px;">{{
                            item.hsn }}</td>
                        <td style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px;">{{
                            item.qty }}</td>
                        <td style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px;">{{
                            item.rate }}</td>
                        <td
                            style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px; font-weight: bold;">
                            {{ item.amount }}</td>
                    </tr>
                    {% endfor %}
                    {% for i in range(invoice["items"]|length + 1, 8) %}
                    <tr {% if i % 2==0 %}style="background-color: #f9f9f9;" {% endif %}>
                        <td style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px;">&nbsp;
                        </td>
                        {% for _ in range(6) %}
                        <td style="border: 1px solid #000; font-size: 10px; text-align: center; padding: 4px;">&nbsp;
                        </td>
                        {% endfor %}
                    </tr>
                    {% endfor %}
                </table>
            </td>
        </tr>

        <!-- Totals Section -->
        <tr>
            <td style="padding: 12px; border-bottom: 1px solid #000;">
                <table style="width: 100%; border-collapse: collapse;" cellpadding="0" cellspacing="0">
                    <tr>

                        <td style="width: 40%; vertical-align: top; padding-right: 10px;">
                            <table style="width: 100%; border-collapse: collapse; border: 1px solid #000;"
                                cellpadding="4" cellspacing="0">
                                <tr>
                                    <td style="text-align: left; padding: 10px; ">
                                        {% if party.bank_name %}
                                        <div style=" padding-top: 5px; font-size: 12px !important; ">
                                            <strong>BANK NAME:</strong> {{ party.bank_name }}
                                        </div>
                                        {% else %}
                                        <div style=" padding-top: 5px; font-size: 12px !important; ">
                                            <strong>BANK NAME:</strong> Not Provided
                                        </div>
                                        {% endif %}

                                        {% if party.bank_branch %}
                                        <div style=" padding-top: 5px; font-size: 12px !important;">
                                            <strong>BRANCH :</strong> {{ party.bank_branch }}
                                        </div>
                                        {% else %}
                                        <div style=" padding-top: 5px; font-size: 12px !important; ">
                                            <strong>BRANCH :</strong> Not Provided
                                        </div>
                                        {% endif %}

                                        {% if party.account_no %}
                                        <div style=" padding-top: 5px; font-size: 12px !important;">
                                            <strong>ACCOUNT NO :</strong> {{ party.account_no }}
                                        </div>
                                        {% else %}
                                        <div style=" padding-top: 5px; font-size: 12px !important; ">
                                            <strong>ACCOUNT NO :</strong> Not Provided
                                        </div>
                                        {% endif %}

                                        {% if party.account_name %}
                                        <div style=" padding-top: 5px; font-size: 12px !important;">
                                            <strong>ACCOUNT NAME :</strong> {{ party.account_name }}
                                        </div>
                                        {% else %}
                                        <div style=" padding-top: 5px; font-size: 12px !important; ">
                                            <strong>ACCOUNT NAME :</strong> Not Provided
                                        </div>
                                        {% endif %}

                                        {% if party.ifsc %}
                                        <div style=" padding-top: 5px; font-size: 12px !important;">
                                            <strong>IFSC :</strong> {{ party.ifsc }}
                                        </div>
                                        {% else %}
                                        <div style=" padding-top: 5px; font-size: 12px !important; ">
                                            <strong>IFSC :</strong> Not Provided
                                        </div>
                                        {% endif %}

                                    </td>
                                    {% if invoice.qr_code_url %}
                                    <td style="text-align: center; padding: 10px;">
                                        <img src="{{ invoice.qr_code_url}}" alt="QR Code"
                                            style="width: 100px; height: 100px; border: 1px solid #ccc;">
                                    </td>
                                    {% else %}
                                    <td style="text-align: center; padding: 10px;">
                                        <div
                                            style="width: 100px; height: 100px; border: 1px solid #a7a6a6; display: flex; align-items: center; justify-content: center;">
                                            Add QR Code in Settings
                                        </div>
                                    </td>
                                    {% endif %}
                                </tr>
                            </table>
                        </td>

                        <!-- Amount Summary -->
                        <td style="width: 25%; vertical-align: top; padding-left: 10px;">
                            <table style="width: 100%; border-collapse: collapse; border: 1px solid #000;"
                                cellpadding="4" cellspacing="0">
                                <tr>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; font-weight: bold;">
                                        SUB TOTAL</td>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; text-align: right;">
                                        {{ invoice.total }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; font-weight: bold;">
                                        DISCOUNT</td>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; text-align: right;">
                                        {{ invoice.discount|default(0.0) }}</td>
                                </tr>
                                <tr>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; font-weight: bold;">
                                        TOTAL</td>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; text-align: right;">
                                        {{ invoice.total }}</td>
                                </tr>
                                <!-- <tr>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; font-weight: bold;">
                                        CR/DR NOTE</td>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; text-align: right;">
                                        {{ invoice.cr_dr_note }}</td>
                                </tr> -->
                                <tr>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; font-weight: bold;">
                                        Round Off</td>
                                    <td
                                        style="border: 1px solid #000; font-size: 10px; padding: 4px; text-align: right;">
                                        {{ invoice.round_off|default(0.0) }}</td>
                                </tr>

                            </table>
                            <table
                                style="width: 100%; border-collapse: collapse; border: 1px solid #000; background-color: #f2f2f2; margin-top: 8px;"
                                cellpadding="4" cellspacing="0">
                                <tr>
                                    <td
                                        style="border: 1px solid #000; font-size: 14px; padding: 8px; text-align: center; font-weight: bold;">
                                        GRAND TOTAL: &#8377; {{ invoice.grand_total }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        </tr>

        <!-- Terms and Conditions -->
        <tr>
            <td style="padding: 12px; border-bottom: 1px solid #000;">
                <table style="width: 100%; border-collapse: collapse; border: 1px solid #000;" cellpadding="8"
                    cellspacing="0">
                    <tr>
                        <td style="font-size: 11px; line-height: 1.4; padding-left: 10px; padding-top: 10px;">
                            <div style="font-weight: bold; margin-bottom: 5px;">Terms & Conditions :</div>
                            <div style="margin-bottom: 8px;">
                                1. This is to certify that we have a valid GST Registration and the above information is
                                true.<br>
                                2. Interest @ 18% per annum will be charged on payments due after 15 days from the date
                                of billing.<br>
                                3. Please accept goods in proper condition only.<br>
                                4. All Disputes & claims will be referred to the court at Udaipur jurisdiction.<br>
                                5. Do not make payment without the printed receipt. Please keep the receipt safe.
                            </div>
                            <div style="font-weight: bold; margin-bottom: 5px;">Additional Terms and Conditions :</div>
                            <div style="border-bottom: 1px solid #000; height: 20px; margin-bottom: 5px;"></div>
                            <div style="border-bottom: 1px solid #000; height: 20px; margin-bottom: 5px;"></div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Signature Section -->
        <tr>
            <td style="padding: 15px;">
                <table style="width: 100%; border-collapse: collapse;" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width: 40%; text-align: center; vertical-align: top;">
                            <div style="border-top: 1px solid #000; width: 200px; margin: 0 auto 5px auto;"></div>
                            <div style="font-weight: bold; font-size: 12px;">Receiver's Signature</div>
                        </td>
                        <td style="width: 20%;">&nbsp;</td>
                        <td style="width: 40%; text-align: center; vertical-align: top;">
                            <div style="border-top: 1px solid #000; width: 200px; margin: 0 auto 5px auto;"></div>
                            <div style="font-weight: bold; font-size: 12px;">For {{ party.name }}</div>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Motto -->
        <tr>
            <td
                style="text-align: center; padding: 10px; font-size: 14px; font-weight: bold; color: #C04000; text-decoration: underline;">
                {{ company.motto|default("LIFE'S A JOURNEY, KEEP SMILING") }}
            </td>
        </tr>

    </table>

</body>

</html>