<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vyapar Drishti Invoice Template</title>
    <style>
        * {
            box-sizing: border-box !important;
        }

        body {
            padding: 0 !important;
            margin: 0 !important;
            font-family: Arial, sans-serif !important;
        }

        @media print {
            body {
                margin: 0 !important;
                padding: 0 !important;
            }

            .no-print {
                display: none !important;
            }
        }
    </style>
</head>

<body>
    {% set items_per_page = 27 %}
    {% for page_items in invoice["items"]|batch(items_per_page, '') %}
    <!-- Main Invoice Table Container -->
    <table style="width: 190mm !important;
            align-self: flex-start !important;
            vertical-align: top !important;
            max-height: 280mm !important;
            padding: 0mm !important;
            margin: 15px auto !important;
            border: 1px solid #000 !important;
            overflow: hidden !important;
            page-break-after: always !important; 
            border-collapse: collapse !important;" cellpadding="0" cellspacing="0">

        <!-- Header Section -->
        <tr>
            <td>
                <table style="width: 100% !important; border-collapse: collapse;" cellpadding="0" cellspacing="0">

                    <!-- Company Details -->
                    <tr>
                        <td colspan="2" style="border-bottom: 1px solid #000 !important; padding: 2mm !important;">
                            <!-- Company Details -->
                            {% if invoice.voucher_type == 'Sales' %}
                            <table
                                style="text-align: center !important; width: 100% !important; border-collapse: collapse;"
                                cellpadding="1" cellspacing="0">
                                <tr>
                                    <td style="font-size: 18px !important; 
                                        font-weight: bold !important; 
                                        margin-bottom: 2mm !important;">
                                        {{ company.company_name
                                        }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if company.address_1 %}
                                        {{
                                        company.address_1
                                        }}
                                        {% if company.address_2 %}
                                        ,&nbsp;{{
                                        company.address_2
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if company.address_2 %}
                                        {{
                                        company.address_2
                                        }}
                                        {% endif %}
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if company.state %}
                                        {{
                                        company.state
                                        }}
                                        {% if company.country %}
                                        ,&nbsp;{{
                                        company.country
                                        }}
                                        {% if company.pincode %}
                                        &nbsp;-&nbsp;{{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if company.pincode %}
                                        &nbsp;-&nbsp;{{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% endif %}
                                        {% else %}
                                        {% if company.country %}
                                        {{
                                        company.country
                                        }}
                                        {% if company.pincode %}
                                        &nbsp;-&nbsp;{{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if company.pincode %}
                                        {{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% endif %}

                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        {% if company.phone.number %}
                                        <strong>Phone
                                            :</strong> {{
                                        company.phone.code
                                        }}&nbsp;{{
                                        company.phone.number }},
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                        {% if company.email %}
                                        <strong>Email
                                            :</strong> {{ company.email }}
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            {% else %}
                            <table
                                style="text-align: center !important; width: 100% !important; border-collapse: collapse;"
                                cellpadding="1" cellspacing="0">
                                <tr>
                                    <td style="font-size: 18px !important; 
                                        font-weight: bold !important; 
                                        margin-bottom: 2mm !important;">
                                        {{ party.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ party.address }}</td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if party.mailing_state %}
                                        {{
                                        party.mailing_state
                                        }}
                                        {% if party.mailing_country %}
                                        ,&nbsp;{{
                                        party.mailing_country
                                        }}
                                        {% if party.mailing_pincode %}
                                        &nbsp;-&nbsp;{{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if party.mailing_pincode %}
                                        &nbsp;-&nbsp;{{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% endif %}
                                        {% else %}
                                        {% if party.mailing_country %}
                                        {{
                                        party.mailing_country
                                        }}
                                        {% if party.mailing_pincode %}
                                        &nbsp;-&nbsp;{{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if party.mailing_pincode %}
                                        {{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% endif %}

                                        {% endif %}
                                    </td>

                                </tr>
                                <tr>
                                    <td>
                                        {% if party.phone.number %}
                                        <strong>Phone
                                            :</strong> {{
                                        party.phone.code
                                        }}&nbsp;{{
                                        party.phone.number }},
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                        {% if party.email %}
                                        <strong>Email
                                            :</strong> {{ party.email }}
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                            {% endif %}
                        </td>
                    </tr>

                    <!-- Party Details and Invoice Details -->
                    <tr style="border-bottom: 1px solid #000 !important;">
                        <!-- Party Details Details -->
                        {% if invoice.voucher_type == 'Sales' %}
                        <td style="font-size: 14px !important; width: 50% !important; padding: 2mm !important; vertical-align: top;">
                            <table>
                                <tr>
                                    <td style="font-weight: bold; padding-bottom: 1mm !important;">{{ party.name }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{{ party.address }}</td>
                                </tr>
                                <tr>
                                    <td>{% if party.mailing_state %}
                                        {{
                                        party.mailing_state
                                        }}
                                        {% if party.mailing_country %}
                                        ,&nbsp;{{
                                        party.mailing_country
                                        }}
                                        {% if party.mailing_pincode %}
                                        &nbsp;-&nbsp;{{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if party.mailing_pincode %}
                                        &nbsp;-&nbsp;{{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% endif %}
                                        {% else %}
                                        {% if party.mailing_country %}
                                        {{
                                        party.mailing_country
                                        }}
                                        {% if party.mailing_pincode %}
                                        &nbsp;-&nbsp;{{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if party.mailing_pincode %}
                                        {{
                                        party.mailing_pincode
                                        }}
                                        {% endif %}
                                        {% endif %}

                                        {% endif %}</td>

                                </tr>
                                <tr>
                                    <td>
                                        {% if party.phone.number %}
                                        <strong>Phone
                                            &nbsp;:&nbsp;</strong>&nbsp;{{
                                        party.phone.code
                                        }}&nbsp;&nbsp;{{
                                        party.phone.number }}
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        {% if party.email %}
                                        <strong>Email&nbsp;
                                            :&nbsp;</strong> &nbsp;{{ party.email }}
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        {% else %}
                        <td style="font-size: 14px !important; width: 50% !important; padding: 2mm !important; vertical-align: top;">
                            <table>
                                <tr>
                                    <td style="font-weight: bold; padding-bottom: 1mm !important;"> {{
                                        company.company_name
                                        }}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% if company.address_1 %}
                                        {{
                                        company.address_1
                                        }}
                                        {% if company.address_2 %}
                                        ,&nbsp;{{
                                        company.address_2
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if company.address_2 %}
                                        {{
                                        company.address_2
                                        }}
                                        {% endif %}
                                        {% endif %}</td>
                                </tr>
                                <tr>
                                    <td>{% if company.state %}
                                        {{
                                        company.state
                                        }}
                                        {% if company.country %}
                                        ,&nbsp;{{
                                        company.country
                                        }}
                                        {% if company.pincode %}
                                        &nbsp;-&nbsp;{{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if company.pincode %}
                                        &nbsp;-&nbsp;{{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% endif %}
                                        {% else %}
                                        {% if company.country %}
                                        {{
                                        company.country
                                        }}
                                        {% if company.pincode %}
                                        &nbsp;-&nbsp;{{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% else %}
                                        {% if company.pincode %}
                                        {{
                                        company.pincode
                                        }}
                                        {% endif %}
                                        {% endif %}

                                        {% endif %}</td>

                                </tr>
                                <tr>
                                    <td>{% if company.phone.number %}
                                        <strong>Phone
                                            &nbsp;:&nbsp;</strong>&nbsp;{{
                                        company.phone.code
                                        }}&nbsp;&nbsp;{{
                                        company.phone.number }}
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                                <tr>
                                    <td>{% if company.email %}
                                        <strong>Email&nbsp;
                                            :&nbsp;</strong> &nbsp;{{ company.email }}
                                        {% else %}
                                        &nbsp;
                                        {% endif %}
                                    </td>
                                </tr>
                            </table>
                        </td>
                        {% endif %}

                        <!-- Invoice Details -->
                        <td
                            style="font-size: 14px !important; width: 50% !important; vertical-align: top !important; text-align: left !important; border-left: 1px solid #000; padding: 1mm !important;">
                            <table>
                                <tr>
                                    <td style="font-weight: bold;"">Invoice No</td>
                                    <td style="">:</td>
                                    <td>{{ invoice.voucher_number }}</td>
                                </tr>
                                <tr>
                                    <td style=" font-weight: bold;">Invoice Date</td>
                                    <td style="">:</td>
                                    <td>{{ invoice.date }}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Place of Supply</td>
                                    <td style="">:</td>
                                    <td>{{ invoice.place_of_supply }}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Mode of Transport
                                    </td>
                                    <td style="">:</td>
                                    <td>{{ invoice.mode_of_transport }}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Vehicle No</td>
                                    <td style="">:</td>
                                    <td>{{ invoice.vehicle_number }}</td>
                                </tr>
                                <tr>
                                    <td style="font-weight: bold;">Payment Status</td>
                                    <td style="">:</td>
                                    <td>{{ invoice.status }}</td>
                                </tr>
                            </table>
                        </td>
                    </tr>

                    <!-- Invoice Header -->
                    <tr>
                        <td colspan="2"
                            style="text-align: center; padding: 8px; background-color: #f2f2f2; border-bottom: 1px solid #000; font-size: 16px; font-weight: bold;">
                            {{invoice.voucher_type}}&nbsp;Invoice
                        </td>
                    </tr>
                </table>
            </td>
        </tr>


        <!-- Product Details Table -->
        <tr>
            <td style="padding-top: 2mm !important;">
                <table
                    style="width: 100% !important; text-wrap: nowrap; white-space: nowrap; border-collapse: collapse !important; border-top: 1px solid #000 !important; font-size: 10px !important;"
                    cellpadding="0" cellspacing="0">

                    <!-- Product Details Header -->
                    <tr
                        style="width: 100% !important;  background-color: #f2f2f2 !important; height: 5mm !important;  font-weight: bold !important;">
                        <th
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            SN</th>
                        <th
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: left; padding-left: 1mm !important;">
                            Description of Goods</th>
                        <th
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            Qty.</th>
                        <th
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            Units</th>
                        <th
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            RATE</th>
                        <th style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            Price</th>
                        <th style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            Discount</th>
                        <th style="border-bottom: 1px solid #000 !important; text-align: center;">
                            Amount</th>
                    </tr>
                    {% if invoice.page_number %}
                    {% set page_no = loop.index - 1 + (invoice.page_number - 1) %}
                    {% else %}
                    {% set page_no = loop.index - 1 %}
                    {% endif %}
                    {% for item in page_items %}
                    <!-- Product Details Row -->
                     
                    <tr {% if loop.index0 % 2==1
                        %}style="width: 100% !important; height: 5mm !important; background-color: #f9f9f9 !important;"
                        {% endif %}style="width: 100% !important; height: 5mm !important;">
                        <td
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            {{(page_no*items_per_page) + loop.index }}</td>
                        <td
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: left; padding-left: 1mm !important;">
                            {{ item.name }}</td>
                        <td
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            {{ item.qty
                            }}</td>
                        <td
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            {{ item.pack
                            }}</td>
                        <td
                            style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important; text-align: center;">
                            {{ item.rate
                            }}</td>
                        <td style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important;  text-align: center;">
                            {{ item.amount }}</td>
                        <td style="border-bottom: 1px solid #000 !important; border-right: 1px solid #000 !important;  text-align: center;">
                            {{ item.discount_amount }}</td>
                        <td style="border-bottom: 1px solid #000 !important; text-align: center; font-weight: bold;">
                            {{ item.total_amount }}</td>
                    </tr>
                    {% endfor %}

                </table>
            </td>
        </tr>

        <!-- Total Section -->
        <tr>
            <td>
                <table style="width: 100% !important; border-bottom: 1px solid #000 !important ;" cellpadding="0"
                    cellspacing="0">
                    <!-- Terms and Conditions & Totals Section -->
                    <tr style="width: 100% !important;">

                        <!-- Terms and Conditions -->
                        <td style="vertical-align: top !important; ">
                            <table
                                style="width: 125mm !important; border-collapse: collapse !important; border: 1px solid #000; background-color: #f2f2f2 !important; margin: 2mm !important;"
                                cellpadding="0" cellspacing="0">
                                <tr style="height: 10mm !important;">
                                    <td
                                        style="border: 1px solid #000 !important; font-size: 12px !important; text-align: center !important; font-weight: bold !important;">
                                        {{ invoice.grand_total_words }}
                                    </td>
                                </tr>
                            </table>
                             {% if invoice.voucher_type == 'Sales' %}
                            <table
                                style="margin: 2mm !important; width: 125mm !important; border-collapse: collapse !important; border: 1px solid #000 !important;"
                                cellpadding="0" cellspacing="0">
                                <tr>
                                    <td
                                        style="padding-left: 2mm !important; padding-top: 2mm !important; font-size: 12px !important; font-weight: bold; margin-bottom: 1mm !important;">
                                        Terms & Conditions :
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 10px !important; padding-left: 2mm !important;">
                                        Thanks for doing business with us.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 10px !important; padding-left: 2mm !important;">
                                        Interest @ 18% percent interest will be charged extra on payments due
                                        after 7 days from the date
                                        of billing.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 10px !important; padding-left: 2mm !important;">
                                        No replacement of broken or damaged goods. Please accept goods in proper
                                        condition only.
                                    </td>
                                </tr>
                                <tr>
                                    <td style="font-size: 10px !important; padding-left: 2mm !important;">
                                        Goods once sold are not returnable.
                                    </td>
                                </tr>
                                <tr>
                                    <td
                                        style="font-size: 10px !important; padding-bottom: 2mm !important; padding-left: 2mm !important;">
                                        All Disputes & claims will be referred to the court at Udaipur
                                        jurisdiction.
                                    </td>
                                </tr>
                            </table>
                            {% endif %}
                        </td>

                        <!-- Amount Summary -->
                        <td style="vertical-align: top !important; ">
                            <table
                                style="width: 60mm !important; font-size: 10px !important;  border-collapse: collapse; margin: 2mm !important; border: 1px solid #000;"
                                cellpadding="0" cellspacing="0">
                                <tr style="height: 5mm !important; border-bottom: 1px solid #000 !important;">
                                    <td style="padding-left: 2mm !important; font-weight: bold;">
                                        SUB TOTAL</td>
                                    <td
                                        style="padding-right: 2mm !important; text-align: right !important; border-left: 1px solid #000 !important;">
                                        {{ invoice.total }}</td>
                                </tr>
                                <tr style="height: 5mm !important; border-bottom: 1px solid #000 !important;">
                                    <td style="padding-left: 2mm !important;  font-weight: bold;">
                                        DISCOUNT</td>
                                    <td
                                        style="padding-right: 2mm !important; text-align: right !important; border-left: 1px solid #000 !important;">
                                        {{ invoice.discount|default(0.0) }}</td>
                                </tr>
                                <tr style="height: 5mm !important; border-bottom: 1px solid #000 !important;">
                                    <td style="padding-left: 2mm !important;font-weight: bold;">
                                        TOTAL</td>
                                    <td
                                        style="padding-right: 2mm !important; text-align: right !important; border-left: 1px solid #000 !important;">
                                        {{ invoice.total_amount }}</td>
                                </tr>
                                <tr style="height: 5mm !important; border-bottom: 1px solid #000 !important;">
                                    <td style="padding-left: 2mm !important; font-weight: bold;">
                                        Additional Charges</td>
                                    <td
                                        style="padding-right: 2mm !important; text-align: right !important; border-left: 1px solid #000 !important;">
                                        {{ invoice.additional_charge }}
                                    </td>
                                </tr>
                                <tr style="height: 5mm !important;">
                                    <td style="padding-left: 2mm !important; font-weight: bold;">
                                        Round Off</td>
                                    <td
                                        style="padding-right: 2mm !important; text-align: right !important; border-left: 1px solid #000 !important;">
                                        {{ invoice.roundoff|default(0.0) }}</td>
                                </tr>

                            </table>
                            <table
                                style="width: 60mm !important; border-collapse: collapse !important; border: 1px solid #000 !important; background-color: #f2f2f2 !important; margin: 2mm !important;"
                                cellpadding="0" cellspacing="0">
                                <tr style="height: 10mm !important;">
                                    <td
                                        style="border: 1px solid #000 !important; font-size: 12px !important; text-align: center !important; font-weight: bold !important;">
                                        GRAND TOTAL: &#8377; {{ invoice.grand_total }}
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Signature Section -->
        <tr>
            <td style="padding-top: 4mm !important;">
                <table style="width: 100% !important; border-collapse: collapse !important;" cellpadding="0"
                    cellspacing="0">
                    <tr>
                        <td
                            style="width: 40% !important; text-align: center !important; vertical-align: top !important;">
                            <div
                                style="border-top: 1px solid #000 !important; width: 200px !important; margin: 0 auto 5px auto !important;">
                            </div>
                            {% if invoice.voucher_type == 'Sales' %}
                            <div style="font-weight: bold !important; font-size: 12px !important;">{{party.name}}
                            </div>
                            {% else %}
                            <div style="font-weight: bold !important; font-size: 12px !important;">
                                {{company.company_name}}
                            </div>
                            {% endif %}

                        </td>
                        <td style="width: 20% !important;">&nbsp;</td>
                        <td
                            style="width: 40% !important; text-align: center !important; vertical-align: top !important;">
                            <div
                                style="border-top: 1px solid #000 !important; width: 200px !important; margin: 0 auto 5px auto !important;">
                            </div>
                            {% if invoice.voucher_type == 'Sales' %}
                            <div style="font-weight: bold !important; font-size: 12px !important;">
                                {{ company.company_name }}
                            </div>
                            {% else %}
                            <div style="font-weight: bold !important; font-size: 12px !important;">
                                {{party.name}}
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                </table>
            </td>
        </tr>

        <!-- Motto -->
        <tr>
            <td
                style="text-align: center !important; padding-bottom: 1mm !important; font-size: 14px !important; font-weight: bold !important; color: #C04000; text-decoration: underline !important;">
                {{ company.motto|default("LIFE'S A JOURNEY, KEEP SMILING") }}
            </td>
        </tr>
        <tr>
            <td
                style="text-align: center !important; padding-bottom: 3mm !important; font-size: 8px !important; text-decoration: underline !important;">
                This {{invoice.voucher_type}}&nbsp;Invoice generated by Vyapar Drishti GST Billing App.
            </td>
        </tr>

    </table>
    {% endfor %}
</body>

</html>